warning: in the working copy of '.env.example', CRLF will be replaced by LF the next time Git touches it
[1mdiff --git a/.env.example b/.env.example[m
[1mindex 35db1dd..aa906e9 100644[m
[1m--- a/.env.example[m
[1m+++ b/.env.example[m
[36m@@ -1,65 +1,20 @@[m
[31m-APP_NAME=Laravel[m
[31m-APP_ENV=local[m
[31m-APP_KEY=[m
[31m-APP_DEBUG=true[m
[31m-APP_URL=http://localhost[m
[31m-[m
[31m-APP_LOCALE=en[m
[31m-APP_FALLBACK_LOCALE=en[m
[31m-APP_FAKER_LOCALE=en_US[m
[31m-[m
[31m-APP_MAINTENANCE_DRIVER=file[m
[31m-# APP_MAINTENANCE_STORE=database[m
[31m-[m
[31m-PHP_CLI_SERVER_WORKERS=4[m
[31m-[m
[31m-BCRYPT_ROUNDS=12[m
[31m-[m
[31m-LOG_CHANNEL=stack[m
[31m-LOG_STACK=single[m
[31m-LOG_DEPRECATIONS_CHANNEL=null[m
[31m-LOG_LEVEL=debug[m
[31m-[m
[31m-DB_CONNECTION=sqlite[m
[31m-# DB_HOST=127.0.0.1[m
[31m-# DB_PORT=3306[m
[31m-# DB_DATABASE=laravel[m
[31m-# DB_USERNAME=root[m
[31m-# DB_PASSWORD=[m
[31m-[m
[31m-SESSION_DRIVER=database[m
[31m-SESSION_LIFETIME=120[m
[31m-SESSION_ENCRYPT=false[m
[31m-SESSION_PATH=/[m
[31m-SESSION_DOMAIN=null[m
[31m-[m
[31m-BROADCAST_CONNECTION=log[m
[31m-FILESYSTEM_DISK=local[m
[31m-QUEUE_CONNECTION=database[m
[31m-[m
[31m-CACHE_STORE=database[m
[31m-# CACHE_PREFIX=[m
[31m-[m
[31m-MEMCACHED_HOST=127.0.0.1[m
[31m-[m
[31m-REDIS_CLIENT=phpredis[m
[31m-REDIS_HOST=127.0.0.1[m
[31m-REDIS_PASSWORD=null[m
[31m-REDIS_PORT=6379[m
[31m-[m
[31m-MAIL_MAILER=log[m
[31m-MAIL_SCHEME=null[m
[31m-MAIL_HOST=127.0.0.1[m
[31m-MAIL_PORT=2525[m
[31m-MAIL_USERNAME=null[m
[31m-MAIL_PASSWORD=null[m
[31m-MAIL_FROM_ADDRESS="hello@example.com"[m
[31m-MAIL_FROM_NAME="${APP_NAME}"[m
[31m-[m
[31m-AWS_ACCESS_KEY_ID=[m
[31m-AWS_SECRET_ACCESS_KEY=[m
[31m-AWS_DEFAULT_REGION=us-east-1[m
[31m-AWS_BUCKET=[m
[31m-AWS_USE_PATH_STYLE_ENDPOINT=false[m
[31m-[m
[31m-VITE_APP_NAME="${APP_NAME}"[m
[32m+[m[32mAPP_NAME="Job Portal"[m[41m  [m
[32m+[m[32mAPP_ENV=local[m[41m  [m
[32m+[m[32mAPP_KEY=[m[41m  [m
[32m+[m[32mAPP_DEBUG=true[m[41m  [m
[32m+[m[32mAPP_URL=http://localhost[m[41m [m
[32m+[m[41m  [m
[32m+[m[32mDB_CONNECTION=sqlite[m[41m  [m
[32m+[m[41m  [m
[32m+[m[32mSESSION_DRIVER=database[m[41m  [m
[32m+[m[32mSESSION_LIFETIME=120[m[41m  [m
[32m+[m[41m  [m
[32m+[m[32mBROADCAST_CONNECTION=log[m[41m  [m
[32m+[m[32mFILESYSTEM_DISK=local[m[41m  [m
[32m+[m[32mQUEUE_CONNECTION=database[m[41m  [m
[32m+[m[41m  [m
[32m+[m[32mCACHE_STORE=database[m[41m  [m
[32m+[m[41m  [m
[32m+[m[32mMAIL_MAILER=log[m[41m  [m
[32m+[m[41m  [m
[32m+[m[32mVITE_APP_NAME="${APP_NAME}"[m[41m [m
